@font-face {
  font-weight: 400;
  font-family: 'AllianceNo1';
  src: url('../fonts/alliance-no-1-regular.woff');
}

@font-face {
  font-weight: 500;
  font-family: 'AllianceNo1';
  src: url('../fonts/alliance-no-1-medium.woff');
}

@font-face {
  font-weight: 600;
  font-family: 'AllianceNo1';
  src: url('../fonts/alliance-no-1-semibold.woff');
}

@font-face {
  font-weight: 400;
  font-family: 'AllianceNo2';
  src: url('../fonts/alliance-no-2-regular.woff');
}

@font-face {
  font-weight: 600;
  font-family: 'AllianceNo2';
  src: url('../fonts/alliance-no-2-semibold.woff');
}

@font-face {
  font-weight: 800;
  font-family: 'AllianceNo2';
  src: url('../fonts/alliance-no-2-extrabold.woff');
}
