@import url('https://use.typekit.net/rre3uxo.css');

@font-face {
  font-weight: 400;
  font-family: 'AllianceNo1';
  src: url('../fonts/alliance-no-1-regular.woff');
}

@font-face {
  font-weight: 500;
  font-family: 'AllianceNo1';
  src: url('../fonts/alliance-no-1-medium.woff');
}

@font-face {
  font-weight: 600;
  font-family: 'AllianceNo1';
  src: url('../fonts/alliance-no-1-semibold.woff');
}
