@import url('https://use.typekit.net/rre3uxo.css');

@font-face {
  font-weight: 400;
  font-family: 'AllianceNo2';
  src: url('../fonts/alliance-no-2-regular.woff');
}

@font-face {
  font-weight: 500;
  font-family: 'AllianceNo2';
  src: url('../fonts/alliance-no-2-semibold.woff');
}

@font-face {
  font-weight: 700;
  font-family: 'AllianceNo2';
  src: url('../fonts/alliance-no-2-extrabold.woff');
}
