*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: block;
  color: var(--fc-default);
  font-family: var(--ff-default);
  background-color: var(--bg-body);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
