*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: block;
  color: #fff;
  background: #24292e;
  background-color: #24292e;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
