@mixin mobileToDesktopFontSize($fs, $fs-l) {
  font-size: $fs;
  @media screen and (min-width: var(--screen-xl)) {
    font-size: $fs-l;
  }
}

@mixin gradientTitle($startingColor, $endingColor) {
  background-color: $startingColor;
  background-image: radial-gradient(
    50% 100%,
    $startingColor 0%,
    $endingColor 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
