/*
 * Scale font for responsiveness
 */
@mixin mobileToDesktopFontSize($mobileSize, $desktopSize) {
  font-size: $mobileSize;
  @media screen and (min-width: var(--screen-ipad)) {
    font-size: $desktopSize;
  }
}

/*
 * Add a gradient to the text using the two colors in the parameters
 */
@mixin gradientTitle($startingColor, $endingColor) {
  background-color: $startingColor;
  background-image: radial-gradient(
    50% 100%,
    $startingColor 0%,
    $endingColor 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
