/*
 * Scale font for responsiveness
 */
@mixin mobileToDesktopFontSize($mobileSize, $desktopSize) {
  font-size: $mobileSize;
  @media screen and (min-width: $screen-sm) {
    font-size: $desktopSize;
  }
}

/*
 * Add a gradient to the text using the two colors in the parameters
 */
@mixin gradientTitle($startingColor, $endingColor) {
  background-color: $startingColor;
  background-image: linear-gradient(
    90deg,
    $startingColor 0%,
    $endingColor 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/*
 * Handle section margin for desktop and mobile
 */
@mixin section {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 24px;
  @media screen and (min-width: $screen-sm) {
    padding: 0 40px;
  }
  @media screen and (min-width: $screen-ipad) {
    padding: 0 64px;
  }
  @media screen and (min-width: $screen-xl) {
    padding: 0 80px;
  }
  @media screen and (min-width: $screen-max) {
    padding: 0 120px;
  }
}
