/*
 * Scale font for responsiveness
 */
@mixin mobileToDesktopFontSize($mobileSize, $desktopSize) {
  font-size: $mobileSize;
  @media screen and (min-width: $screen-sm) {
    font-size: $desktopSize;
  }
}

/*
 * Add a gradient to the text using the two colors in the parameters
 */
@mixin gradientTitle($startingColor, $endingColor) {
  background-color: $startingColor;
  background-image: linear-gradient(
    90deg,
    $startingColor 0%,
    $endingColor 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/*
 * Handle section margin for desktop and mobile
 */
@mixin section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
  @media screen and (min-width: $screen-tablet) {
    padding: 0 32px;
  }
  @media screen and (min-width: $screen-max) {
    padding: 0 40px;
  }
}

/*
 * Define common styles for all the waves in the page
 $bottom: define how far the wavy line will be from the element bottom
 $height: define how thick the line will be
 $bg-size-height: define how thick the line will be
 */
@mixin wave($bottom, $height: 24px, $bg-size-height: 20px) {
  position: relative;

  &::after {
    position: absolute;
    bottom: $bottom;
    left: 0;
    width: 100%;
    height: $height;
    background: radial-gradient(
          52% 100% at 50% -12px,
          transparent calc(100% - 5px),
          var(--underline-color) calc(100% - 4px) calc(100% - 1px),
          transparent
        ) -18px 100%,
      radial-gradient(
          52% 100% at 50% calc(100% + 12px),
          transparent calc(100% - 5px),
          var(--underline-color) calc(100% - 4px) calc(100% - 1px),
          transparent
        )
        0 calc(100% - 15px);
    background-repeat: repeat-x;
    background-size: 36px $bg-size-height;
    content: '';
  }
}

/**
 * Style links that are part of a text (external links)
*/
@mixin linksWithinText() {
  display: inline;
  color: var(--fc-primary);
  transition: color 0.3s linear;

  &:hover {
    color: var(--fc-accent);
  }
}

/**
 * Adds a gradient box with a box shadow to highlight something on the page
 */
@mixin highlightedBox() {
  position: relative;
  max-width: 783px;
  color: var(--fc-light);
  background-image: linear-gradient(
    135deg,
    var(--bg-accent) 0%,
    var(--bg-primary) 100%
  );
  background-position: center;
  border: 5px var(--bg-body) solid;
  &::after {
    position: absolute;
    top: 19px;
    left: 19px;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--bg-dimmed);
    content: '';
    -webkit-mask-image: url('~/assets/svg/pattern_shadow.svg');
    mask-image: url('~/assets/svg/pattern_shadow.svg');
  }
}
