:root {
  // Private variables

  // Neutral colors
  --white: hsla(0, 0%, 100%, 1);
  --gray-50: hsla(0, 0%, 50%, 1);
  --black: hsl(0, 0%, 0%, 1);

  // Background Colors
  --bg-body: var(--white);

  // Font Colors
  --fc-default: var(--black);
  --fc-dimmed: var(--gray-50);
}
