// z-index
:root {
  --z-index-decorative: -1;
  --z-index-content: 1;
  --z-index-topbar: 2;
  --z-index-navigation-mobile: 3;
  --z-index-hamburger: 4;
  --z-index-switch-off: 1;
  --z-index-switch-on: 2;
  --z-index-dropdown: 2;
}
