:root {
  --screen-ipad: (768 / var(--default-size)) + rem;
  --screen-xl: (1024 / var(--default-size)) + rem;
  --screen-max: (1400 / var(--default-size)) + rem;
  --screen-full: (1920 / var(--default-size)) + rem;
}
