$screen-xs-max: (374 / $default-size) + rem;
$screen-xs: (375 / $default-size) + rem;
$screen-s-max: (449 / $default-size) + rem;
$screen-s: (450 / $default-size) + rem;
$screen-m-max: (599 / $default-size) + rem;
$screen-m: (600 / $default-size) + rem;
$screen-ipad-max: (767 / $default-size) + rem;
$screen-ipad: (768 / $default-size) + rem;
$screen-l-max: (799 / $default-size) + rem;
$screen-l: (800 / $default-size) + rem;
$screen-xl-max: (1023 / $default-size) + rem;
$screen-xl: (1024 / $default-size) + rem;
$screen-xxl-max: (1099 / $default-size) + rem;
$screen-xxl: (1100 / $default-size) + rem;
$screen-xxxl-max: (1199 / $default-size) + rem;
$screen-xxxl: (1200 / $default-size) + rem;
$screen-huge: (1300 / $default-size) + rem;
$screen-max: (1400 / $default-size) + rem;
$screen-full: (1920 / $default-size) + rem;
