:root {
  // Font Family
  --ff-default: 'AllianceNo2', georgia, serif;
  --ff-title: 'AllianceNo1', arial, sans-serif;

  // Font Weight
  --fw-default: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 800;
  --fw-extra-bold: 900;

  // Fonts Sizes
  --fs-colossal: 4.5rem; // 72px
  --fs-giant: 3.5rem; // 56px
  --fs-large: 2.5rem; // 40px
  --fs-medium: 2rem; // 32px
  --fs-default: 1.5rem; // 24px
  --fs-small: 1.25rem; // 20px
}
