:root {
  // Font Family
  --ff-default: 'AllianceNo2', georgia, serif;
  --ff-secondary: roc-grotesk, sans-serif;
  --ff-title: roc-grotesk-wide, sans-serif;

  // Font Weight
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 600;
  --fw-extra-bold: 700;

  // Fonts Sizes
  --fs-colossal: 4.5rem; // 72px
  --fs-giant: 3.5rem; // 56px
  --fs-large: 2.5rem; // 40px
  --fs-medium: 2rem; // 32px
  --fs-default: 1.5rem; // 24px
  --fs-small: 1.25rem; // 20px
  --fs-smaller: 1.125rem; // 18px
  --fs-extra-small: 0.75rem; // 12px
}
