:root {
  // Font Family
  --ff-default: 'AllianceNo2', georgia, serif;
  --ff-title: 'AllianceNo1', arial, sans-serif;

  // Font Weight
  --fw-default: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 800;

  // Fonts Sizes
  --fs-colossal: 5.5rem; // 88px
  --fs-giant: 4rem; // 64px
  --fs-large: 3rem; // 48px
  --fs-medium: 2.5rem; // 40px
  --fs-regular: 1.5rem; // 24px
  --fs-default: 1.125rem; // 18px
  --fs-small: 0.875rem; // 14px
}
